[Unit]
Description=All YouTube daily search producer
After=network.target

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/all-youtube
EnvironmentFile=/home/ubuntu/all-youtube/.env
ExecStart=/home/ubuntu/all-youtube/.venv/bin/python -m app.producer_search_daily