[Unit]
Description=Run RU playlist producer every 3 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
Unit=all-youtube-playlist-ru.service

[Install]
WantedBy=timers.target